* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

footer{
    background-color: hsl(153, 40%, 30%);
    text-align: center;
    padding: 10px;
}
.gridCentrado{
    display: grid;
    place-items: center;
}

/* .mainInfo{
    
} */